DATABASE_URL=
DATABASE_USERNAME=
DATABASE_PASSWORD=

SPRING_DATA_REDIS_HOST=
SPRING_DATA_REDIS_PORT=

JWT_SECRET=

S3_ACCESS_KEY=
S3_SECRET_KEY=
S3_BUCKET_NAME=
S3_REGION=

KEYSTORE_LOCATION=
KEYSTORE_PASSWORD=
KEY_PASSWORD=

S3_ENDPOINT=

SENTRY_DSN=
SENTRY_SECRET_KEY=

MAIL_USERNAME=
MAIL_PASSWORD=

MODER_EMAIL_DEFAULT=
MODER_PASSWORD_DEFAULT=

FRONTEND_BASE_URL=