<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <include resource="org/springframework/boot/logging/logback/base.xml"/>
    <appender name="logstash" class="net.logstash.logback.appender.LogstashTcpSocketAppender">
        <destination>host.docker.internal:5000</destination>
        <encoder class="net.logstash.logback.encoder.LogstashEncoder">
            <providers>
                <mdc/>
                <context/>
                <logLevel/>
                <loggerName/>
                <pattern>
                    <pattern>
                        {
                        "app": "GetScienceBackend",
                        }
                    </pattern>
                </pattern>
                <threadName/>
                <message/>
                <logstashMarkers/>
                <stackTrace/>
            </providers>
        </encoder>
        <!--        <encoder class="net.logstash.logback.encoder.LogstashEncoder"/>-->
    </appender>
    <root level="debug">
        <appender-ref ref="logstash"/>
    </root>
</configuration>